<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    stopOnFailure="true"
    >
    <php>
        <env name="SYMFONY_ENV" value="test"/>
        <env name="DATABASE_URL" value="mysql://tima6358_amina_test:alanTuring2024!@localhost:3306/tima6358_amina_test"/>
    </php>

    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
